/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* The Header */
header {
    background-color: #161616;
    border-radius: 38px;
    margin: 5% 8% 5% 8%;
    overflow: hidden;
}

.header-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

}

.header-info {
    padding: 110px 25px 110px 100px;
    color: #ffffff;
}

.header-info h1 {
    font-weight: 700;
    font-size: 525%;
    margin: 70px 0 20px 0;
}

.header-info p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
}

.watch-live {
    color: #ffffff;
    text-decoration: none;
    background-color: #DD0000;
    padding: 16px 25px;
    gap: 10px;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.watch-live:hover {
    transform: scale(2em);
}

.header-img {
    align-self: flex-end;
    width: 50%;
}

.header-img img {
    width: 700px;
    height: 700px;
    margin-bottom: -10px;
}

/* display flex */
main {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0% 8% 3% 8%;
}

/* Three Options style*/

.three-opt {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.decor {
    text-decoration: none;
    color: black;
    width: 252px;
    padding: 30px;
    margin: 15px 30px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
}

.three-opt .blog {
    color: #FFFFFF;
    background-color: #DD0000;
    margin-bottom: 30px;
}

.three-opt .match {
    margin-top: 30px;
}

/* player card design */
.player-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.player-card article {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.card-img img {
    width: 385px;
}

.transfer {
    margin-top: 25px;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: .5px solid black;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.button-text h3 {
    margin: 20px;

}

.time-comment {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 40%;
    justify-content: space-between;
}

/* footer style */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: #161616;
}

.goal h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
}

.goal {
    margin-bottom: 30px;
}

.horizontal-line {
    width: 90%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* More options in footer */
.bottom-row {
    margin-top: 20px;
}

.more-info li {
    display: inline;
    margin: 0;
}

.more-info li a {
    margin-right: 60px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #B9B9B9;
}

.more-info li .contact {
    margin-left: 10px;
}

/* Upcoming Matches style */
.match2 {
    color: #FFFFFF;
    background-color: #DD0000;
    margin-top: 30px;
}

.blog2 {
    margin-bottom: 30px;
}

/* Match card style */

.card-img2 {
    width: 370px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    margin-top: 55px;
}

.match-card article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.text-sect h2 {
    color: #161616;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.text-sect p {
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 55px;
}